<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.initialphase">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.info.ExperienceListActivity"></activity>
        <activity android:name=".activities.info.ExperiencesMainActivity" />
        <activity android:name=".activities.profile.ForumActivity" />
        <activity android:name=".activities.profile.ForumDetailActivity" />
        <activity android:name=".activities.info.CityDetailActivity" />
        <activity android:name=".activities.info.PaisesECulturasActivity" />
        <activity android:name=".activities.profile.VideosActivity" />
        <activity android:name=".activities.profile.CheckListProfileActivity" />
        <activity android:name=".activities.docs.RequirementsCheckListActivity" />
        <activity android:name=".activities.docs.DocsCheckListActivity" />
        <activity
            android:name=".activities.info.ProvasAnterioresLinguasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.docs.CompRendaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.docs.DocsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.welcome.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.welcome.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.welcome.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.info.Experiences"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.welcome.Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.welcome.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>